# Google Colab checkpoints and metadata
.ipynb_checkpoints/
*.ipynb.meta

# Colab output logs
__pycache__/
output/

# Python-related
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
*.env
.Python

# Jupyter Notebooks
.ipynb_checkpoints/
.ipynb_meta/
.ipynb_profile/
*.nbconvert/
*.nbclient/
*.nbsignatures
*.ipynb_checkpoints/
